<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
<div th:insert="header.html"></div>
<div class="container-fluid">

		<div class="card">
			<div class="card-header bg-primary text-white text-center">

				<h4>Upload Image</h4>

			</div>

			<div class="card-body">

				<form action="/upload" method="post" enctype="multipart/form-data">

					<div class="row m-2">
						<div class="col-4">Select</div>
						<div class="col-6">
							<input type="file" name="image" class="form-control">
						</div>
					</div>

					<div class="row m-2">
						<div class="col-4"></div>
						<div class="col-6">
							<input type="submit" value="Upload" class="btn btn-success">
						</div>
					</div>

				</form>
				
				<p> [[${message}]] </p>

			</div>

			<div class="card-footer bg-warning text-white text-center">copyright@2023</div>
		</div>

	</div>

</body>
</html>